<!DOCTYPE html>
<html lang="en">
    {% load static %}
    <link rel="stylesheet" href="{% static 'loginview.css' %}">

<head>
    <meta charset="UTF-8">
    <title>Login Here</title>
</head>
<body>
    <form method="POST" action="{% url 'LoginPage' %}">
        {% csrf_token %}
        <label for="input_name">Name:</label>
        <input type="text" id="input_name" name="Name">

        <label for="input_password">Password:</label>
        <input type="password" id="input_password" name="Password">

        <button type="submit"> Click to Login</button>


    </form>
</body>
</html>